@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background: #DCDCDC;
}

h1{
  font-family: 'Roboto', sans-serif;
}

.container {
  max-height: 100vh;
  place-items: center;
  display: grid;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description h1{
  margin-right: -40px;
  text-align: center;
  margin-top: 25px;
}

.description img {
  width: 100px;
  margin-left: 40px;
}

.title-description {
  margin-top: 0.5rem;
}

.title-description span {
  font-family: 'Open Sans', sans-serif;
  color: #323256;
}

.skills h1 {
  margin-right: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.skills hr {
  width: 900px;
}

.listSkills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 2vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.listSkills .progress-bar {
  margin-top: 2px;
  position: relative;
  width: 300px;
  height: 3em;
  background-color: #111;
  border-radius: 1.5em;
  color: white;
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color:	#323256;
  border-radius: 1em;
  padding: 1em;
}

.listSkills main {
    background: white;
    width: 350px;
    height: 600px;
    display: grid;
    place-items: center;
    box-shadow: 2px 2px 2px 2px #A9A9A9;
}

.listSkills main h3 {
  font-size: 25px;
  color: #111;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 700px) {
  .grid {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .description {
    display: flex;
    flex-direction: column;
  }

  .description h1{
    margin-right: 1.5rem;
  }

  .title-description span {
    font-family: 'Open Sans', sans-serif;
    color: #323256;
    font-size: 16px;
  }

  .skills h1 {
    margin-left: 2rem;
  }

  .listSkills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      grid-gap: 1vh;
      margin-top: 0.5rem;
  }

  .listSkills main {
      width: 300px;
  }

  .listSkills .progress-bar {
    width: 250px;
  }
}
