@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background: #DCDCDC;
}

h1{
  font-family: 'Roboto', sans-serif;
}

.container {
  max-height: 100vh;
  place-items: center;
  display: grid;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description h1{
  margin-right: -40px;
  text-align: center;
  margin-top: 25px;
}

.description img {
  width: 100px;
  margin-left: 40px;
}

.title-description {
  margin-top: 0.5rem;
}

.title-description span {
  font-family: 'Open Sans', sans-serif;
  color: #323256;
}

.skills h1 {
  margin-right: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.skills hr {
  width: 900px;
}

.listSkills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 1vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.listSkills article {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.listSkills .html {
  background: orange;
  color: blue;
  margin-left: 200px;
}

.listSkills .css {
  background: blue;
  color: white;
}

.listSkills .javascript {
  background: yellow;
  color: black;
  margin-right: 200px;
}

.listSkills .typescript {
  background: #0065cd;
  color: white;
  margin-left: 200px;
}

.listSkills .react, .react-native {
  background: #003ee6;
  color: white;
}

.listSkills .react-native {
  margin-right: 200px;
}

.listSkills .node {
  background: black;
  color: green;
  margin-left: 200px;
}

.listSkills .mysql {
  background: #b100ac;
  color: white;
}

.listSkills .mongodb {
  background: #00b340;
  color: white;
  margin-right: 200px;
}

@media screen and (max-width: 700px) {
  .grid {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .description {
    display: flex;
    flex-direction: column;
  }

  .description h1{
    margin-right: 1.5rem;
  }

  .title-description span {
    font-family: 'Open Sans', sans-serif;
    color: #323256;
    font-size: 16px;
  }

  .skills h1 {
    margin-left: 2rem;
  }
}
