@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background: #DCDCDC;
}

h1{
  font-family: 'Roboto', sans-serif;
}

.container {
  max-height: 100vh;
  place-items: center;
  display: grid;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description h1{
  margin-right: -40px;
  text-align: center;
  margin-top: 25px;
}

.description img {
  width: 100px;
  margin-left: 40px;
}

.title-description {
  margin-top: 0.5rem;
}

.title-description span {
  font-family: 'Open Sans', sans-serif;
  color: #323256;
}

.title-description hr {
  margin-top: 2rem;
}

.skills h1 {
  margin-right: 105px;
  margin-top: 0.5rem;
  text-align: center;
}

.skills hr {
  width: 650px;
}

.skills .listSkills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  width: 350px;
  margin-top: 2rem;
  margin-left: 7rem;
  box-shadow: 1px 1px 4px 1px rgba(105,105,105);

}

.skills .listSkills section ul li {
  list-style: none;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-right: 1rem;
}

@media screen and (max-width: 700px) {
  .grid {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .description {
    display: flex;
    flex-direction: column;
  }

  .description h1{
    margin-right: 2.5rem;
  }

  .title-description span {
    font-family: 'Open Sans', sans-serif;
    color: #323256;
    font-size: 20px;
  }

  .skills h1 {
    margin-right: 3rem;
  }

  .skills .listSkills section ul li {
    margin-right: 0.2rem;
  }
}
