@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body {
	background: #DCDCDC;
}

.container {
  max-height: 100vh;
}

.nav-bar {
	background: #323256;
	height: 120px;
}

.nav-bar .ComeBack i {
	margin-top: 0.7rem;
	font-size: 30px;
	margin-left: 1rem;
	color: white;
}

.nav-bar nav {
	display: grid;
	place-items: center;
}

.nav-bar nav ul a li i {
	margin-top: 0.2rem;
	font-size: 50px;
	color: white;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main main {
	background: white;
	width: 600px;
	height: 600px;
	margin-top: -20px;
	margin-bottom: 1rem;
	border-radius: 8px;
}

.main main h1 {
	text-align: center;
	color: #323256;
	margin-top: 0.5rem;
	font-family: 'Open Sans', sans-serif;
}

.main main .images {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.main main .images img {
	width: 400px;
}

.main main .images button {
	border: none;
	margin: 1rem;
	outline: none;
	background-color: white;
}

.main main .images button i{
	font-size: 30px;
	color: #323256;
}

.main main h3 {
	margin-top: 1rem;
	font-family: 'Roboto', sans-serif;
	padding: 9px;
}

.main main h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #323256;
}

.main main .technologies {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.main main .technologies section span {
	font-family: 'Roboto', sans-serif;
	color: #323256;
}

.main main .technologies section ul li {
	margin-top: 0.6rem;
}


@media screen and (max-width: 700px) {
	.grid {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

	.main main {
		width: 380px;
		height: 600px;
	}

	.main main .images img {
		width: 300px;
	}
}
