body {
	background: #DCDCDC;
}

.container {
  max-height: 100vh;
}

.nav-bar {
	background: #323256;
	height: 120px;
}

.nav-bar .ComeBack i {
	margin-top: 0.5rem;
	font-size: 25px;
	margin-left: 0.5rem;
	color: white;
}

.nav-bar nav {
	display: grid;
	place-items: center;
}

.nav-bar nav ul a li i {
	margin-top: 0.2rem;
	font-size: 50px;
	color: white;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main main {
	background: white;
	width: 600px;
	height: 600px;
	margin-top: -20px;
	margin-bottom: 1rem;
	border-radius: 8px;
}

.main main h1 {
	text-align: center;
	color: #323256;
	margin-top: 0.5rem;
}
