@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.container {
  max-height: 100vh;
  place-items: center;
  display: grid;
}

.ImageAndName {
  display: flex;
  flex-direction: column;
}

.ImageAndName img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
  margin-top: 20px;
}

.ImageAndName span {
  text-align: center;
  margin-top: 10px;
  margin-right: 2rem;
  font-size: clamp(1em, 0.5em + 0.5vw, 2em);
}

.ImageAndName h1 {
  font-size: clamp(1.75em, 1em + 2vw, 2.1em);
  font-family: 'Potta One', cursive;
  color: #323256;
  margin-top: 20px;
  animation-name: name;
  animation-duration: 3s;
}

@keyframes name {
  from {
    margin-top: 100%;
    transform: rotate(0deg);
    color: #000D26;
  }

  to {
    transform: rotate(360deg);
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.social-media a i {
  font-size: 35px;
}

.social-media #instagram {
  margin-left: 70px;
  margin-right: 70px;
}

.social-media a #icon-instagram {
  color: #9400D3;
}

.social-media a #icon-facebook {
  color: #00008B;
}

@media screen and (max-width: 700px) {
  .grid {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .ImageAndName img {
    margin-top: 70px;
  }

  .ImageAndName span {
    margin-right: 1rem;
    font-size: clamp(1.2em, 0.2em + 0.5vw, 2em);
  }

  .ImageAndName h1 {
    font-size: clamp(1em, 1em + 2vw, 2.1em);
    margin-top: 40px;
    margin-left: 1.5rem;
  }

  .social-media {
    margin-top: 80px;
  }
}
