@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Zilla+Slab:ital,wght@1,300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
    background: #323256;
    width: 100%;
    height: 70px;
}

.nav-bar nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-bar nav ul li {
  margin-top: 1.3rem;
  animation-name: navBar;
  animation-duration: 2s;
}

@keyframes navBar {
  from {
    margin-right: 100%;
    width: 300%;
  }
}

.nav-bar nav ul #projects {
  margin-left: 50px;
  margin-right: 50px;
}

.nav-bar nav ul li a{
  font-size: min(1.8em, 6vw);
  font-family: 'Zilla Slab', serif;
  color: white;
  cursor: pointer;
}
